<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{index::head}"></head>

<body>

    <div th:insert="~{index::navbar}"></div>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>

<div class="vh100">
    <article class="container min-vh-100">
        <section class="row">

            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1">Dashboard Revisor</span>
            </div>

            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1" th:text="${title}">Articoli da Revisionare</span>
            </div>

            <div class="col-12">
                <table class="table teable-striped table-responsive-lg">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titolo</th>
                            <th>Sottotitolo</th>
                            <th>Categoria</th>
                            <th>#Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="article:${articles}">
                            <td th:text="${article.id}"></td>
                            <td th:text="${article.title}"></td>
                            <td th:text="${article.subtitle}"></td>
                            <td th:if="${article.category}" th:text="${article.category.name}"></td>
                            <td th:unless="${article.category}">Nessuna Categoria</td>
                            <td>
                                <a th:href="@{/articles/revisor/detail/{id}(id=${article.id})}" class="btn btn-primary">
                                    <i class="fa-solid fa-bars"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





    <div th:insert="~{index::footer}"></div>
    <script th:replace="~{index::bootstrapScript}"></script>
    <script th:replace="~{index::fontawesomeScript}"></script>

</body>

</html>